/*=================================================*/
/*= ASSETS | BASE                                 =*/
/*=================================================*/

.assets-container {
    background: #131313a8;
    border-left: 1px solid #926333a1;
    border-right: 1px solid #926333a1;
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    padding: 1em;
    box-shadow: #000000f0 0 0 5px 0px;
}
    .assets-options-header {
        display: flex;
        align-items: center;
    }
    .assets-options-footer {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
    }

/*=================================================*/
/*= ASSETS | BASE | MENU                          =*/
/*=================================================*/

.assets-options-title {
    font-size: 4em;
    padding: 0 0.2em;
    text-transform: uppercase;
    text-shadow: #000000f0 0px 0px 4px;
}
.assets-options-menu-container {
    flex: 1;
    display: flex;
    list-style: none;
    flex-direction: row;
}
    .assets-options-menu-item {
        height: 3em;
        display: flex;
        text-transform: uppercase;
    }
        .assets-options-menu-item-link {
            width: 100%;
            font-size: 1.1em;
            text-decoration: none;
            padding: 0 16px;
            display: flex;
            cursor: pointer;
            flex-direction: column;
            justify-content: center;
            position: relative;
        }
            .assets-options-menu-item-link:link, 
            .assets-options-menu-item-link:visited {
                color: inherit;
            }
            .assets-options-menu-item-link:hover {
                background-color: rgba(54,58,62,.63);
            }
        .assets-options-menu-item-link.selected:after {
            content: "";
            height: 2px;
            background-color: #926333;
        }
            .assets-options-menu-item-link:hover:not(.selected):after {
                content: "";                
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                position: absolute;
                background-color: #926333;
            }
            
/*=================================================*/
/*= ASSETS | COLORS                               =*/
/*=================================================*/

.color-container {
    height: 8em;
    padding: 5px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
}
    .color-swatch-container {
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;
        opacity: 0.5;
        box-shadow: #000000f0 0 0 5px 0px;
    }
        .color-swatch-container:hover {
            opacity: 1;
        }
    .color-swatch-container * {
        pointer-events: none;
    }
        .color-text-options {
            left: 0;
            bottom: 0;
            height: 4em;
            width: 100%;
            display: flex;
            position: absolute;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: #131313a8;
        }
            .color-title-name {
                color: #cccccc;
                font-size: 3em;
                text-shadow: #000000f0 0px 0px 4px;
                text-transform: uppercase;
            }

/*=================================================*/
/*= ASSETS | NAMEPLATES                           =*/
/*=================================================*/

.nameplate-container {
    padding: 5px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
}
    .nameplate-image-container {
        display: flex;
    }
        .nameplate-image {
            margin: auto;
            cursor: pointer;
            opacity: 0.5;
            box-shadow: #000000f0 0 0 5px 0px;
        }
            .nameplate-image:hover {
                opacity: 1;
            }

/*=================================================*/
/*= ASSETS | MCC | RANKS                          =*/
/*=================================================*/

.mcc-ranks-container {
    width: 20%;
    padding: 1em;
}
    .mcc-ranks-image-container {
        width: auto;
        height: auto;
        display: flex;
        background: #131313a8;
        border: 1px solid #926333a1;
        box-shadow: #000000f0 0 0 5px 0px;
    }
        .mcc-ranks-image {
            width: 100%;
            height: 100%;
            cursor: pointer;
            opacity: 0.5;
        }            
            .mcc-ranks-image:hover {
                opacity: 1;
            }

/*=================================================*/
/*= ASSETS | MCC | TOURS                          =*/
/*=================================================*/

.mcc-tours-container {}
    .mcc-tours-image-container {}
        .mcc-tours-image {}

/*=================================================*/
/*= ASSETS | MCC | COMPETITIVE                    =*/
/*=================================================*/

.mcc-competitive-container {}
    .mcc-competitive-image-container {}
        .mcc-competitive-image {}