/*=================================================*/
/*= ASSETS | COLORS                               =*/
/*=================================================*/

.assets-color-options-container {
    background: #131313a8;
    border-left: 1px solid #926333a1;
    border-right: 1px solid #926333a1;
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    padding: 1em;
    box-shadow: #000000f0 0 0 5px 0px;
}
    .assets-color-options-header {
        display: flex;
        align-items: center;
    }
    .assets-color-options-footer {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
    }

/*=================================================*/
/*= ASSETS | COLORS | MENU                        =*/
/*=================================================*/

.assets-color-title {
    font-size: 4em;
    text-transform: uppercase;
    text-shadow: #000000f0 0px 0px 4px;
}
.assets-color-menu-container {
    flex: 1;
    display: flex;
    list-style: none;
    padding: 0 1em 0 1em;
    flex-direction: row;
}
    .assets-color-menu-item {
        height: 3em;
        display: flex;
        text-transform: uppercase;
    }
        .assets-color-menu-item-link {
            width: 100%;
            font-size: 1.1em;
            text-decoration: none;
            padding: 0 16px;
            display: flex;
            cursor: pointer;
            flex-direction: column;
            justify-content: center;
            position: relative;
        }
            .assets-color-menu-item-link:link, 
            .assets-color-menu-item-link:visited {
                color: inherit;
            }
            .assets-color-menu-item-link:hover {
                background-color: rgba(54,58,62,.63);
            }
        .assets-color-menu-item-link.selected:after {
            content: "";
            height: 2px;
            background-color: #926333;
        }
            .assets-color-menu-item-link:hover:not(.selected):after {
                content: "";                
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                position: absolute;
                background-color: #926333;
            }
            
/*=================================================*/
/*= ASSETS | COLORS | OPTIONS                     =*/
/*=================================================*/

.color-container {
    height: 8em;
    padding: 5px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
}
    .color-swatch-container {
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;
        box-shadow: #000000f0 0 0 5px 0px;
    }
    .color-swatch-container * {
        pointer-events: none;
    }
        .color-text-options {
            left: 0;
            bottom: 0;
            height: 4em;
            width: 100%;
            display: flex;
            position: absolute;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: #131313a8;
        }
            .color-text-options > span {
                text-shadow: #000000f0 0px 0px 4px;
                text-transform: uppercase;
            }
                .color-title-name {
                    color: #cccccc;
                    font-size: 3em;
                }
                .color-title-value {
                    margin-left: 1em;
                    font-size: 1.2em;
                }