/*=================================================*/
/*= TUTORIALS | BASE                              =*/
/*=================================================*/

.tutorials-container {
    background: #131313a8;
    border-left: 1px solid #926333a1;
    border-right: 1px solid #926333a1;
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    padding: 1em;
    box-shadow: #000000f0 0 0 5px 0px;
}
    .tutorials-options-header {
        display: flex;
        align-items: center;
    }
    .tutorials-options-footer {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
    }

/*=================================================*/
/*= TUTORIALS | BASE | MENU                       =*/
/*=================================================*/

.tutorials-options-title {
    font-size: 4em;
    padding: 0 0.2em;
    text-transform: uppercase;
    text-shadow: #000000f0 0px 0px 4px;
}
.tutorials-options-menu-container {
    flex: 1;
    display: flex;
    list-style: none;
    flex-direction: row;
}
    .tutorials-options-menu-item {
        height: 3em;
        display: flex;
        text-transform: uppercase;
    }
        .tutorials-options-menu-item-link {
            width: 100%;
            font-size: 1.1em;
            text-decoration: none;
            padding: 0 16px;
            display: flex;
            cursor: pointer;
            flex-direction: column;
            justify-content: center;
            position: relative;
        }
            .tutorials-options-menu-item-link:link, 
            .tutorials-options-menu-item-link:visited {
                color: inherit;
            }
            .tutorials-options-menu-item-link:hover {
                background-color: rgba(54,58,62,.63);
            }
        .tutorials-options-menu-item-link.selected:after {
            content: "";
            height: 2px;
            background-color: #926333;
        }
            .tutorials-options-menu-item-link:hover:not(.selected):after {
                content: "";                
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                position: absolute;
                background-color: #926333;
            }