/*=================================================*/
/*= TUTORIALS | BASE                              =*/
/*=================================================*/

.tutorials-container {
    background: #131313a8;
    border-left: 1px solid #926333a1;
    border-right: 1px solid #926333a1;
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    padding: 1em;
    box-shadow: #000000f0 0 0 5px 0px;
}
    .tutorials-options-header {
        display: flex;
        align-items: center;
    }
    .tutorials-options-footer {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
    }

/*=================================================*/
/*= TUTORIALS | BASE | MENU                       =*/
/*=================================================*/

.tutorials-options-title {
    font-size: 4em;
    padding: 0 0.2em;
    text-transform: uppercase;
    text-shadow: #000000f0 0px 0px 4px;
}
.tutorials-options-menu-container {
    flex: 1;
    display: flex;
    list-style: none;
    flex-direction: row;
}
    .tutorials-options-menu-item {
        height: 3em;
        display: flex;
        text-transform: uppercase;
    }
        .tutorials-options-menu-item-link {
            width: 100%;
            font-size: 1.1em;
            text-decoration: none;
            padding: 0 16px;
            display: flex;
            cursor: pointer;
            flex-direction: column;
            justify-content: center;
            position: relative;
        }
            .tutorials-options-menu-item-link:link, 
            .tutorials-options-menu-item-link:visited {
                color: inherit;
            }
            .tutorials-options-menu-item-link:hover {
                background-color: rgba(54,58,62,.63);
            }
        .tutorials-options-menu-item-link.selected:after {
            content: "";
            height: 2px;
            background-color: #926333;
        }
            .tutorials-options-menu-item-link:hover:not(.selected):after {
                content: "";                
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                position: absolute;
                background-color: #926333;
            }

/*=================================================*/
/*= TUTORIALS | NOTES                             =*/
/*=================================================*/

.tutorials-note-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #131313a8;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #926333a1;
    border-radius: 0.5em;
    box-shadow: 0 0 5px #000000e8;
}
    .tutorials-note-title {
        margin: auto;
        text-align: center;
        font-size: 1.5em;
        border-bottom: 1px solid #926333a1;
        margin-bottom: 5px;
    }
    .tutorials-note {
        flex: 1;
        display: flex;
    }
        .tutorials-note-name {
            font-size: 16px;
            padding-right: 0.5em;
        }
        .tutorials-note-value {
            font-size: 13px;
            flex: 1;
            margin: auto;
        }
    .tutorials-note.section {
        flex-direction: column;
    }
        .tutorials-note-header {
        }
        .tutorials-note-footer {
            padding-left: 2em;
        }

/*=================================================*/
/*= TUTORIALS | STEPS                             =*/
/*=================================================*/

.tutorials-step-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #131313a8;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #926333a1;
    border-radius: 0.5em;
    box-shadow: 0 0 5px #000000e8;
}
    .tutorials-step {
        flex: 1;
        display: flex;
    }
        .tutorials-step-name {
            font-size: 16px;
            padding-right: 0.5em;
        }
        .tutorials-step-value {
            font-size: 13px;
            flex: 1;
            margin: auto;
        }

    .tutorials-title-name {
            margin: auto;
            font-size: 2em;
            text-align: center;
        }
    .tutorials-title-value {
        margin: auto auto 1em auto;
        font-size: 1.5em;
        text-align: center;
        border-bottom: 1px solid #926333a1;
    }
    .tutorials-step-image {
        margin: 1em auto;
    }


/*=================================================*/
/*= TUTORIALS | NOTES                             =*/
/*=================================================*/

/*=================================================*/
/*= TUTORIALS | STEPS                             =*/
/*=================================================*/

.step-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #131313a8;
    margin-bottom: 15px;
    border: 1px solid #926333a1;
    box-shadow: 0 0 5px #000000e8;
}
    .step-container-header {
        padding: 1em;
        display: flex;
        flex-direction: column;
        background: darkslategray;
    }
        .step-container-header > span {
            margin: auto;
        }
            .step-container-title {
                font-size: 2em;
            }
            .step-container-value {
                font-size: 1.5em;
            }

    .step-container-footer {
    }